/* Estilos gerais */

/*Estilos do header*/

.header-container {
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    padding: 0 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99
}

.nav-bar {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;

}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}

.nav-bar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;;
}

.nav-bar a:hover::after {
    transform: scaleX(1);
}


/* Estilos do main */

main {
    background: linear-gradient(black 20%, #5f533e);
    padding: 20% 10px 10px 10px
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.slogan-title {
    color: white;
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
}

.slogan-description {
    color: rgb(194, 194, 194);
    font-size: 25px;
    text-align: center;
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

.presentation-video {
    border-radius: 10px;
    transition: scale 0.2s ease-out;
    box-shadow: -5px 5px 7px 2px rgba(0, 0, 0, 0.315);
}

.presentation-video:hover {
    scale: 1.03;
}

.video-478x850 {
    width: 30%;
    height: 30%;
}

.video-720x1280 {
    width: 30%;
    height: 30%;
}

.videos-container {
    display: flex;
    justify-content: space-around;
}

.slogan-container {
    margin-bottom: 10%
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.font-dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%
}

.generic-title {
    font-size: 60px;
    color: white;
}

.about-description {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#icon-title-text {
    margin: 0;
}

.icons {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
}

.font-description {
    font-size: 20px;
}

.text-white {
    color: rgb(252, 252, 252);
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-image {
    width: 20%; 
    height: 20%; 
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin: 2%;
    box-shadow: -5px 5px 7px 2px rgba(0, 0, 0, 0.315);
}

.product-image:hover {
    transform: translateY(-8px);
}

.contact-icon-container {
    display: flex;
    justify-content: space-evenly;
}


/* Estios do footer */ 

.footer-container {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-text {
    margin: 10px;
}

#map { 
    height: 180px; 
    width: 100%;
}

/* Responsividade para mobile - media-queries */

@media (max-width: 800px) {

    .slogan-container {
        margin-top: 120px;
    }
    
    .header-container {
        flex-direction: column;
    }

    .slogan-title, .generic-title {
        font-size: 40px;
    }

    .slogan-description, .font-description {
        font-size: 15px;
    }

    .icon-title h2 {
        font-size: 18px;
    }

    .videos-container {
        flex-direction: column;
        align-items: center;
    }

    .video-478x850, .video-720x1280 {
        margin-bottom: 10px;
        width: 70%;
    }

    .product-image {
        width: 40%;
        height: 40%;
    }

    h3.integration-title {
        font-size: 16px;
    }

    .footer-text {
        font-size: 13px
    }
}